:root {
  --primary: #202b3b;
  --secondary: #FFFFFF;
  --tertiary: #737A85;
  --highlight: #0095FF;
  --background: #0B131E;
  --rounded: 2rem;
}

body {
  background-color: var(--background);
  color: var(--secondary);
}

img {
  width: 50px;
  height: 50px;
}

.resolved-address{
  font-weight: bold;
  font-size: larger
}

header{
  grid-area: header;
  padding: 0.5rem;
}

header > h1 {
  text-align: center;
  margin-bottom: 1rem;
}

#input-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#input-location {
  flex-grow: 1;
  background-color: var(--primary);
  border-radius: var(--rounded);
  padding: 0.5rem 1rem;
  color: var(--secondary);
  border: none;
}

#submit {
  background-color: var(--primary);
  border-radius: var(--rounded);
  border: none;
  padding: 0.5rem 1rem;
  color: var(--secondary);
}

#submit:active {
  background-color: var(--highlight);
  opacity: 20;
}

#submit:hover {
  background-color: var(--highlight);
}

#location-container {
  grid-area: main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
}

#location-container > div > img {
  margin-right: 4rem;
  height: 150px;
  width: 150px;
}

.location-flex-1 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.location-flex-1 >:first-child {
  font-size: x-large;
}


.location-flex-1 >:last-child {
  margin-top: auto;
  font-size: xx-large;
}

.location-flex-1 :nth-child(2) {
  color: var(--tertiary);
}

#date-container {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary);
  border-radius: var(--rounded);
  padding: 2rem;
}

.date-flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  border-bottom: 1px solid #bbb;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

.date-flex-container:not(:has(~ .date-flex-container)){
  border-bottom: none;
}

.date-flex-container > :last-child {
  margin-left: auto;
}

.date-flex-container > :first-child {
  color: var(--tertiary);
}

#current-day-container {
  grid-area: section;
  background-color: var(--primary);
  border-radius: var(--rounded);
  padding: 0rem 4rem;
}

#current-day-container > h3{
  margin-top: 2rem;
}

.current-day-flex-container {
  display: flex;
  justify-content: space-between
}

.hour-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
}

.hour-container >:first-child {
  color: var(--tertiary);
}


#air-conditions {
  grid-area: article;
  background-color: var(--primary);
  border-radius: var(--rounded);
  padding: 0rem 4rem;
}

#air-conditions > h3 {
  margin-top: 2rem;
}

.air-conditions-flex-container {
  display: flex;
  height: 50%;
  justify-content: space-around;
}

.air-conditions-flex-container > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr 4fr 4fr;
  grid-template-areas: 
    "header header header ."
    "main main main sidebar"
    "section section section sidebar"
    "article article article sidebar";
}

#grid-container > div{
  margin: 1rem;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--highlight);
  color: white;
  padding: 2rem 4rem;
  border-radius: var(--rounded);
  font-size: 1.2rem;
  display: none;
}