:root {
  --primary: #202b3b;
  --secondary: #FFFFFF;
  --tertiary: #737A85;
  --highlight: #0095FF;
  --background: #0B131E;
  --rounded: 2rem;
}

body {
  background-color: var(--background);
  color: var(--secondary);
}

img {
  width: 50px;
  height: 50px;
}

.resolved-address{
  font-weight: bold;
  font-size: larger
}

header{
  grid-area: header;
  padding: 0.5rem;
}

header > h1 {
  text-align: center;
  margin-bottom: 1rem;
}

#input-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#input-location {
  flex-grow: 1;
  background-color: var(--primary);
  border-radius: var(--rounded);
  padding: 0.5rem;
}

#location-container {
  grid-area: main;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-flex-1 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.location-flex-1 >:first-child {
  font-size: x-large;
}


.location-flex-1 >:last-child {
  margin-top: auto;
  font-size: xx-large;
}

.location-flex-1 :nth-child(2) {
  color: var(--tertiary);
}

#date-container {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary);
  border-radius: var(--rounded);
  padding: 2rem;
}


#current-day-container {
  grid-area: section;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary);
  border-radius: var(--rounded);
  padding: 2rem;
}

#air-conditions {
  grid-area: article;
  background-color: var(--primary);
  border-radius: var(--rounded);
  padding: 2rem;
}
#grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr 4fr 4fr;
  grid-template-areas: 
    "header header header ."
    "main main main sidebar"
    "section section section sidebar"
    "article article article sidebar";
}

#grid-container > div{
  margin: 1rem;
}